# Jupyter Notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Large datasets
lab5-anomaly-detection/creditcard.csv
coursework-spam-detection/emails.csv

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db
*.swp
*.swo
